        .longin {
            .van-index-bar__index {
                line-height: 25px;
                color: rgba(12, 165, 236, 0.89);
            }
        }
        
        // 单个商品详情
        .van-tabs--card>.van-tabs__wrap {
            height: 13vw !important;
            .van-tabs__nav--card {
                height: 12vw;
                width: 100%;
                margin: 0;
            }
        }
        
        // 单个商品详情
        .van-tab__text--ellipsis {
            font-size: 17px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
        }
        
        //侧边栏
        #broadside {
            .van-sidebar-item {
                border-top: 1px solid #ddd !important;
                border-bottom: 1px solid #ddd!important;
                height: 51px !important;
                text-align: center !important;
                line-height: 51px !important;
                padding: 0 !important;
                background-color: rgb(241, 248, 255);
            }
        }
        
        //标签页
        #label {
            top: 40px;
            left: 22.333vw;
            position: relative;
            width: 77vw;
            .van-tab {
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                margin-right: 2px;
                padding: 10px;
                height: 50px;
                z-index: 20;
                font-size: 3.733vw !important;
            }
            // 内容
            .van-tabs__content {
                margin-top: 20px;
            }
            .van-tabs--line .van-tabs__wrap {
                height: 14.733vw !important;
            }
        }
        
        // 设置
        .boxes1 {
            .van-dropdown-item__content {
                left: 5% !important;
                width: 90% !important;
            }
            .van-dropdown-menu__title {
                left: -186px;
                top: 3px;
            }
        }
        
        .boxes {
            .van-cell {
                font-size: 16px;
                padding: 10px 0;
            }
        }
        
        // 我的页面头部标题
        .back {
            width: 100px;
            display: flex;
            justify-content: left;
            padding: 10px;
        }
        
        .set {
            position: relative;
            left: 10%;
        }
        
        //购物详情
        #son {
            .van-popup {
                overflow-y: visible;
            }
        }
        
        // 收藏 
        .enshrine {
            width: 375px;
            margin: 10px 0;
            border: 1px solid #ddd;
            .box {
                display: flex;
                img {
                    width: 100px;
                    border: 1px solid #ddd;
                }
                .text {
                    margin: 10px;
                    .toe2 {
                        position: relative;
                        top: 10px;
                        color: red;
                    }
                }
            }
            .delete-button {
                height: 100px;
                width: 107px;
                .van-button--block {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        #entertain {
            // 待评价 
            .van-tabs--line {
                height: 11.733vw;
                position: relative;
                top: -32px;
                left: 20px;
                width: 90%;
            }
            .van-tabs__wrap {
                box-shadow: 0 1px 10px 2px #eee;
                border-radius: 40px;
            }
        }
        
        // 评价
        #remark {
            .van-field__control {
                background: rgb(247, 247, 247) !important;
            }
        }